<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AuthenticationUrl" value="https://platform.uipath.com/api/account/authenticate"/>
    <add key="GetRobotsUrl" value="https://platform.uipath.com/odata/Robots"/>
    <add key="PatchRobotDetailsUrl" value="https://platform.uipath.com/odata/Robots"/>
    <add key="GetMachinesUrl" value="https://platform.uipath.com/odata/Machines"/>

  </appSettings>
</configuration>

 